# Assignment 01

### Imports and Setup

In [197]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = 100
pd.options.display.max_rows = 25

## 01 Data Ingestion and Getting to Know Your Data

In [198]:
# In this cell, complete the following:
# Read the zipped csv assignment01_sales_data_modified.zip creating a dataframe called "df"
# While reading the data, parse any date columns and specify column names using the col_names list provided below
# Use the compression argument to uncompress the data
# 6 points
# Note: For reading zipped csv files, read the documentation on read_csv()
# Note: You may need to use additional arguments to properly set the column names

# Use the header names in the list below
col_names = ['Order_Number','Order_Date','Line_Item_Number','Quantity_Ordered_lbs','Price_Each','Sales',
             'Status','Product_Category','MSRP','Product_Code','Customer_Name','Customer_City','Customer_State',
             'Deal_Size','Customer_Status']

df = pd.read_csv('assignment01_sales_data_modified.zip', compression = 'zip')
df.columns = col_names
df['Order Date'] = pd.to_datetime(df['Order_Date'])
print(df.head())

   Order_Number  Order_Date  Line_Item_Number  Quantity_Ordered_lbs  \
0         12139  2018-02-24                 2                   109
1         11398  2018-05-07                 5                   128
2         14215  2018-07-01                 2                   129
3         12172  2018-08-25                 6                   165
4         12563  2018-10-10                14                   157

   Price_Each     Sales   Status Product_Category  MSRP  Product_Code  \
0      210.94  22889.76  Shipped          Poultry     1         10120
1      172.22  22101.37  Shipped          Poultry     1         10120
2      203.46  26314.01  Shipped          Poultry     1         10120
3      159.87  26449.19  Shipped          Poultry     1         10120
4      201.44  31677.10  Shipped          Poultry     1         10120

  Customer_Name Customer_City Customer_State Deal_Size Customer_Status  \
0        COSTCO        Austin             TX     Small          Active
1        COSTCO       Atlanta             GA     Small          Active
2       WALMART    Palm Beach             FL    Medium          Active
3       WALMART   San Antonio             TX    Medium          Active
4        COSTCO    Cape Coral             FL    Medium          Active

  Order Date
0 2018-02-24
1 2018-05-07
2 2018-07-01
3 2018-08-25
4 2018-10-10

In [199]:
# In this cell, print the shape of the dataframe
# 1 point
print(df.shape)

(2846, 16)

In [200]:
# In this cell, show the first 3 rows of the dataframe
# 1 point
df.head(3)

,Order_Number,Order_Date,Line_Item_Number,Quantity_Ordered_lbs,Price_Each,Sales,Status,Product_Category,MSRP,Product_Code,Customer_Name,Customer_City,Customer_State,Deal_Size,Customer_Status,Order Date
0,12139,2018-02-24,2,109,210.94,22889.76,Shipped,Poultry,1,10120,COSTCO,Austin,TX,Small,Active,2018-02-24
1,11398,2018-05-07,5,128,172.22,22101.37,Shipped,Poultry,1,10120,COSTCO,Atlanta,GA,Small,Active,2018-05-07
2,14215,2018-07-01,2,129,203.46,26314.01,Shipped,Poultry,1,10120,WALMART,Palm Beach,FL,Medium,Active,2018-07-01

In [201]:
# In this cell, show the last 3 rows of the dataframe
# 1 point
df.tail(3)

,Order_Number,Order_Date,Line_Item_Number,Quantity_Ordered_lbs,Price_Each,Sales,Status,Product_Category,MSRP,Product_Code,Customer_Name,Customer_City,Customer_State,Deal_Size,Customer_Status,Order Date
2843,11835,2019-05-18,6,122,147.74,18023.23,Shipped,Poultry,1,10136,WALMART,Palm Beach,FL,Small,Active,2019-05-18
2844,12881,2018-11-25,9,159,217.66,34592.59,Shipped,Pork,1,10136,WALMART,Austin,TX,Medium,Active,2018-11-25
2845,13476,2018-06-27,7,120,155.77,18764.83,Shipped,Fresh Produce Fruits,1,10200,COSTCO,Houston,TX,Small,Active,2018-06-27

In [202]:
# In this cell, output the data types of df using dtypes
# 1 point
df.dtypes

Order_Number                     int64
Order_Date                      object
Line_Item_Number                 int64
Quantity_Ordered_lbs             int64
Price_Each                     float64
Sales                          float64
Status                          object
Product_Category                object
MSRP                             int64
Product_Code                     int64
Customer_Name                   object
Customer_City                   object
Customer_State                  object
Deal_Size                       object
Customer_Status                 object
Order Date              datetime64[ns]
dtype: object

In [203]:
# In this cell, output the data types of df using info()
# 1 point
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2846 entries, 0 to 2845
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order_Number          2846 non-null   int64
 1   Order_Date            2846 non-null   object
 2   Line_Item_Number      2846 non-null   int64
 3   Quantity_Ordered_lbs  2846 non-null   int64
 4   Price_Each            2846 non-null   float64
 5   Sales                 2846 non-null   float64
 6   Status                2846 non-null   object
 7   Product_Category      2846 non-null   object
 8   MSRP                  2846 non-null   int64
 9   Product_Code          2846 non-null   int64
 10  Customer_Name         2832 non-null   object
 11  Customer_City         2832 non-null   object
 12  Customer_State        2832 non-null   object
 13  Deal_Size             2846 non-null   object
 14  Customer_Status       2846 non-null   object
 15  Order Date            2846 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(5), object(8)
memory usage: 355.9+ KB

In [204]:
# In this cell, show the output on df of describe()
# 1 point
df.describe()

,Order_Number,Line_Item_Number,Quantity_Ordered_lbs,Price_Each,Sales,MSRP,Product_Code
count,2846.000000,2846.000000,2846.000000,2846.000000,2846.000000,2846.0,2846.000000
mean,13225.094167,6.476458,135.849965,184.354280,25047.324933,1.0,10294.489108
std,1065.743520,4.229112,17.480825,24.504646,4682.514459,0.0,425.864633
min,11217.000000,1.000000,84.000000,109.040000,11982.150000,1.0,10120.000000
25%,12272.000000,3.000000,123.000000,169.492500,21637.840000,1.0,10136.000000
50%,13244.000000,6.000000,136.000000,186.800000,25026.415000,1.0,10136.000000
75%,14180.000000,9.000000,149.000000,202.902500,28288.357500,1.0,10148.000000
max,15269.000000,18.000000,194.000000,224.770000,41566.120000,1.0,11500.000000

In [205]:
# In this cell, run a profile report using Pandas Profiling outputting the results in this notebook
# Note: Pandas Profiling has been imported below--if you receive an error, trying uncommenting and running the pip install below:
# pip install pandas-profiling
# 2 points

from pandas_profiling import ProfileReport
profile = ProfileReport (df, title = "Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

## 02 Exploratory Data Analysis

In [206]:
# In this cell, using a loop over all the columns in df, 
# print the column name and the number of unique values using nunique() on the object columns only using dtype
# 4 points

for col in df.columns:
    if df[col].dtype == 'object':
        print('Column Name: ', col, 'Unique Values: ', df[col].nunique())

Column Name:  Order_Date Unique Values:  252
Column Name:  Status Unique Values:  1
Column Name:  Product_Category Unique Values:  7
Column Name:  Customer_Name Unique Values:  2
Column Name:  Customer_City Unique Values:  21
Column Name:  Customer_State Unique Values:  4
Column Name:  Deal_Size Unique Values:  3
Column Name:  Customer_Status Unique Values:  1

In [207]:
# In this cell, run nunique() again for the column with the most unique values
# 1 point

print(df['Order_Number'].nunique())

295

In [208]:
# In this cell, show unique values on the Product Category column
# 2 points

print(df['Product_Category'].unique())

['Poultry' 'Fresh Produce Vegetables' 'Pork' 'Fresh Produce Fruits' 'Beef'
 'Dairy' 'Bread']

In [209]:
# In this cell, show value counts on Customer Name
# 1 point

print(df['Customer_Name'].value_counts())

WALMART    1559
COSTCO     1273
Name: Customer_Name, dtype: int64

In [210]:
# In this cell, show value counts on Product Category
# 1 point

print(df['Product_Category'].value_counts())

Fresh Produce Vegetables    972
Fresh Produce Fruits        615
Poultry                     337
Beef                        306
Pork                        302
Dairy                       237
Bread                        77
Name: Product_Category, dtype: int64

In [211]:
# In this cell, show value counts on Product Cateogry sorted by the index
# 3 points

print(df['Product_Category'].value_counts().sort_index())

Beef                        306
Bread                        77
Dairy                       237
Fresh Produce Fruits        615
Fresh Produce Vegetables    972
Pork                        302
Poultry                     337
Name: Product_Category, dtype: int64

In [212]:
# In this cell, show the top 5 value counts on Customer City
# 3 points

print(df['Customer_City'].value_counts().head(5))

Houston           428
San Antonio       337
Corpus Christi    200
Dallas            187
Fort Worth        181
Name: Customer_City, dtype: int64

## 03 Data Visualization

In [213]:
# In this cell, create a bar plot with Seaborn showing Product Category on the x-axis and the dataframe index on the y-axis
# Title the plot "Product Category"
# Show a rotation of 75 on the xticks
# 5 points

import matplotlib
matplotlib.use('TkAgg')

# Create bar plot
sns.countplot(x='Product_Category', data=df, order=df['Product_Category'].value_counts().index)
plt.xticks(rotation=75)
plt.title('Product Category')

# Show the plot
plt.show()

In [214]:
# In this cell, create a histogram with Matplotlib showing Sales
# Use 30 bins
# Set green ('g') as the color
# 4 points

# Create histogram
plt.hist(df['Sales'], bins=30, color = 'g')

# Add labels and title
plt.xlabel('Sales')
plt.ylabel('Frequency')
plt.title('Histogram of Sales')

# Show the plot
plt.show()

In [215]:
# In this cell, create a box plot with Seaborn for Sales
# 1.5 points

# Create box plot

# Add title

# Show the plot
df['Sales'] = df['Sales'].astype(float)
sns.boxplot(x=df['Sales'])
plt.xlabel('Sales')
plt.title('Sales Boxplot')
plt.show()

In [216]:
# In this cell, create a box plot with Seaborn for Quantity Ordered
# 1.5 points

# Create box plot
x = df['Quantity_Ordered_lbs']
sns.boxplot(x)

# Add title
plt.title('Quantity Ordered Box Plot')
plt.show()

C:\ProgramData\Anaconda3\lib\site-packages\seaborn\_decorators.py:36: FutureWarning: Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.
  warnings.warn(

In [217]:
# In this cell, create a scatter plot with Matplotlib with Quantity Ordered on the x-axis 
# and Price Each on the y-axis
# Set the alpha value to 0.75
# 4 points

# Create scatter plot
plt.scatter(x=df['Quantity_Ordered_lbs'], y=df['Price_Each'], alpha=0.75)

# Add labels
plt.xlabel('Quantity Ordered')
plt.ylabel('Price Each')

# Show plot
plt.show()

In [218]:
# In this cell, create a pairplot using Seaborn on the dataframe
# 1 point

sns.pairplot(df)
plt.show()

In [219]:
# In this cell, create a correlation heatmap using Seaborn of Quantity Ordered, Price Each, and Sales
# Use the Pearson method
# Set the vmin to -1 
# Set the vmax to 1 
# Set annot to True
# 6 points
sns.set_style("white")
corr = df[['Quantity_Ordered_lbs', 'Price_Each', 'Sales']].corr(method='pearson')
sns.heatmap(corr, vmin=-1, vmax=1, annot=True)
plt.title('Correlation Heatmap of Quantity Ordered, Price Each, and Sales')
plt.show()

## 04 Additional Exploratory Data Analysis & Initial Cleaning

In [220]:
# In this cell, overwrite the current df by sorting the dataset by Order Date and Line Item Number
# Reset the index setting the drop argument to True 
# Show the head of the dataframe
# 6 points

df = df.sort_values(by=['Order_Date', 'Line_Item_Number'])
df = df.reset_index(drop=True)
print(df.head())

   Order_Number  Order_Date  Line_Item_Number  Quantity_Ordered_lbs  \
0         11411  2018-01-06                 1                   161
1         11411  2018-01-06                 2                   164
2         11411  2018-01-06                 3                   128
3         11411  2018-01-06                 4                   106
4         11783  2018-01-09                 1                   134

   Price_Each     Sales   Status      Product_Category  MSRP  Product_Code  \
0      150.66  24275.32  Shipped  Fresh Produce Fruits     1         10148
1      175.91  28873.34  Shipped  Fresh Produce Fruits     1         10136
2      216.74  27667.74  Shipped  Fresh Produce Fruits     1         10136
3      192.45  20364.47  Shipped  Fresh Produce Fruits     1         10136
4      183.80  24717.56  Shipped  Fresh Produce Fruits     1         10136

  Customer_Name Customer_City Customer_State Deal_Size Customer_Status  \
0       WALMART       Houston             TX     Small          Active
1       WALMART       Houston             TX    Medium          Active
2       WALMART       Houston             TX    Medium          Active
3       WALMART       Houston             TX     Small          Active
4       WALMART     Galveston             TX    Medium          Active

  Order Date
0 2018-01-06
1 2018-01-06
2 2018-01-06
3 2018-01-06
4 2018-01-09

In [221]:
# In this cell, create a dataframe called df_snapshot 
# using iloc of rows 500 to 1000 (with 1000 included in the output) 
# and columns 1 to 6 (Order Date to Sales with Sales included in the output)
# 4 points

df_snapshot = df.iloc[500:1001, 1:6]
print(df_snapshot)

      Order_Date  Line_Item_Number  Quantity_Ordered_lbs  Price_Each     Sales
500   2018-10-05                10                   148      131.75  19561.59
501   2018-10-05                11                   147      195.41  28728.00
502   2018-10-06                 1                   142      211.02  30060.93
503   2018-10-06                 1                   157      167.45  26277.51
504   2018-10-06                 2                   149      190.33  28280.82
...          ...               ...                   ...         ...       ...
996   2018-12-09                 2                   159      170.54  27193.91
997   2018-12-09                 3                   107      195.81  21015.17
998   2018-12-09                 4                   149      149.62  22359.47
999   2018-12-09                 5                   107      181.69  19388.75
1000  2018-12-09                 6                   133      175.10  23298.56

[501 rows x 5 columns]

In [222]:
# In this cell, create a dataframe called df_produce_fruits 
# filtered to where Product Category is "Fresh Produce Fruits" 
# Only keep the following columns: Product Category, Order Date, Line Item Number, Quantity Ordered, Price Each, and Sales
# Reset the index setting drop to True 
# Be sure to use copy()
# Show the first 3 rows of df_produce_fruits
# 7 points

df_produce_fruits = df.loc[df["Product_Category"] == "Fresh Produce Fruits",
                           ["Product_Category", "Order_Date", "Line_Item_Number", "Quantity_Ordered_lbs", "Price_Each", "Sales"]]
df_produce_fruits = df_produce_fruits.reset_index(drop=True).copy()
df_produce_fruits.head(3)

,Product_Category,Order_Date,Line_Item_Number,Quantity_Ordered_lbs,Price_Each,Sales
0,Fresh Produce Fruits,2018-01-06,1,161,150.66,24275.32
1,Fresh Produce Fruits,2018-01-06,2,164,175.91,28873.34
2,Fresh Produce Fruits,2018-01-06,3,128,216.74,27667.74

In [223]:
# In this cell, run duplicated() and any() to determine if the dataframe (df) has any duplicates
# 3 points

df.duplicated().any()

True

In [224]:
# In this cell, run duplicated() and sum() to report the number of duplicates in df
# 3 points

num_duplicates = sum(df.duplicated())
print(f"There are {num_duplicates} duplicate rows in df")

There are 10 duplicate rows in df

In [225]:
# In this cell, print the shape of df
# Drop duplicates in place using drop_duplicates()
# Print the new shape of the dataframe
# 4 points

# Print the shape of df
print("Original Shape:", df.shape)

# Drop duplicates in place
df.drop_duplicates(inplace=True)

# Print the new shape of the dataframe
print("New Shape:", df.shape)

Original Shape: (2846, 16)
New Shape: (2836, 16)

In [226]:
# Functions used for identifying mixed data types
def get_column_data_types(df):
    """Returns a dictionary of each column listing the data types within the column"""
    
    multiple_types = {}
    
    for col in df.columns:
        types_df = df[col].dropna().apply(lambda x: x.__class__).value_counts()
        if types_df.shape[0] > 1:
            multiple_types[col] = types_df.index.values.tolist()
      
    return multiple_types


def has_multi_types_within_col(df):   
    """Returns True if any column in the df has multiple data types within the column"""
    
    return len(get_column_data_types(df).keys()) > 0

In [227]:
# In this cell, execute the has_multi_types_within_col function and print the output to show if any columns have more than one data type on df
# 2 points

print(has_multi_types_within_col(df))

False

In [228]:
# In this cell, execute the get_column_data_types function on the dataframe and print the output to show the column and data 
# types of mixed data type columns, if there are any
# 2 points

mixed_types = get_column_data_types(df)
if mixed_types:
    for col, types in mixed_types.items():
        print(f"Column '{col}' has mixed data types: {types}")
else:
    print("No columns have mixed data types.")

No columns have mixed data types.

In [229]:
# In this cell, execute the get_single_value_cols function to determine if any columns have one single value on df
# 2 points
def get_single_value_cols(df):
    '''Returns list of columns that contain only one value'''
    
    single_val_cols = []
    for col in df.columns:
        if len(df[col].unique()) == 1:
            single_val_cols.append(col)
            
    return single_val_cols

print(get_single_value_cols(df))

['Status', 'MSRP', 'Customer_Status']

In [230]:
# In this cell, drop columns identified in the output of get_single_value_cols in place using drop() 
# Set in place to True 
# Print the dataframe shape after dropping single value cols
# Show the first 3 rows of the dataframe
# 5 points

get_single_value_cols = get_single_value_cols(df)
df.drop(get_single_value_cols, axis=1, inplace=True)

print(df.shape)
print(df.head(3))

(2836, 13)
   Order_Number  Order_Date  Line_Item_Number  Quantity_Ordered_lbs  \
0         11411  2018-01-06                 1                   161
1         11411  2018-01-06                 2                   164
2         11411  2018-01-06                 3                   128

   Price_Each     Sales      Product_Category  Product_Code Customer_Name  \
0      150.66  24275.32  Fresh Produce Fruits         10148       WALMART
1      175.91  28873.34  Fresh Produce Fruits         10136       WALMART
2      216.74  27667.74  Fresh Produce Fruits         10136       WALMART

  Customer_City Customer_State Deal_Size Order Date
0       Houston             TX     Small 2018-01-06
1       Houston             TX    Medium 2018-01-06
2       Houston             TX    Medium 2018-01-06